*{margin: 0;padding:0;box-sizing: border-box;}
.window{
  width:400px;
  height:300px;
  overflow: hidden;
  margin:100px auto;
}
.window.red{
  background:#FF0000;
}
.window.green{
  background:#7ED321;
}
.window.yello{
  background:#F5A623;
}
.window > .images{
  position: relative;
}
.window > .images > img{
  position: absolute;
  top:0;
  transition:all 1.5s;
  width:100%;
}
.window > .images > img.current{
  left:0;
  transform: translate(0,0);
  z-index: 1;
}
.window > .images > img.leave{
  transform: translate(-100%,-100%);
  z-index: 1;
}
.window > .images > img.enter{
  transform: translate(100%,100%);
}
